@import "../../../vars.css";

.dropdown {
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  background-color:rgb(248, 250, 252);
  border-bottom: 2px solid var(--mgreen);
  border-radius: 5px;
  overflow: hidden;
}